body {
    background: linear-gradient(180deg, #F8EDC2 0%, #ad83f2 100%) no-repeat;
    background-size: cover;
    height: 4300px;
    width: 1920px;
    margin: 0;
    overflow: visible;
}

.inter-uniquifier{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spectral-sc-regular {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-sc-bold {
  font-family: "Spectral SC", serif;
  font-weight: 700;
  font-style: normal;
}

.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}

.source-serif-4-uniquifier {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.about-us1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15px;
    width: 322px;
    height: 115px;
    margin: 30px 0 0 730px;
    color: #4545b0;
    font-family: Spectral SC;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    text-align: center;
    white-space: nowrap;
    z-index: 6;
  }
  .twinkle-site {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    width: 1618px;
    top: 150px;
    height: 428px;
    margin: 129px 0 0 82px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 7;
  }
  .best-version {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2372px;
    height: 115px;
    top: 500px;
    margin: 278px 0 0 -221px;
    color: #4444b0;
    font-family: Spectral SC;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    text-align: center;
    white-space: nowrap;
    z-index: 5;
  }
  .rectangle {
    position: absolute;
    width: 379px;
    height: 203px;
    top: 1050px;
    left: 710px;
    background: url(/images/rec.png)
      no-repeat center;
    background-size: cover;
    z-index: 3;
    backdrop-filter: blur(45px);
  }
  .goals {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 688px;
    height: 115px;
    top: 1100px;
    left: 550px;
    color: #4444b0;
    font-family: Spectral SC;
    font-size: 70px;
    font-weight: 400;
    line-height: 115px;
    text-align: center;
    white-space: nowrap;
    z-index: 4;
  }
  .flex-row-a-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1764px;
    height: 451px;
    margin: 97px 0 0 60px;
    z-index: 2;
  }
  .help-everyday-outfit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    width: 530px;
    top: 600px;
    height: 450px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: center;
  }
  .confidence-new-looks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    top: 600px;
    width: 530px;
    height: 450px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: center;
    z-index: 2;
  }
  .time-saving-details {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 710px;
    top: 400px;
    height: 385px;
    margin: 158px 0 0 587px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: center;
    z-index: 1;
  }
  .our-journey {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 603px;
    top: 300px;
    height: 186px;
    margin: 285px 0 0 678px;
    color: #4444b0;
    font-family: Spectral SC;
    font-size: 100px;
    font-weight: 400;
    line-height: 115.039px;
    text-align: left;
    z-index: 8;
  }
  .flex-row-baf {
    position: relative;
    top: 200spx;
    width: 1935px;
    height: 771px;
    margin: 63px 0 0 -25px;
    z-index: 15;
  }
  .organization-combination {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 745px;
    height: 134px;
    top: 2750px;
    left: 940px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 40px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: center;
    z-index: 13;
  }
  

  .site-helper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 771px;
    height: 200px;
    top: 2750px;
    right: 1450px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 40px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: center;
    z-index: 12;
  }
  .image-list {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 426px;
    height: 448px;
    top: 3000px;
    left: 1500px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 40px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: center;
    z-index: 15;
  }
  .time-release {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 792px;
    height: 167px;
    top: 3300px;
    left: 71px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 40px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: center;
    z-index: 9;
  }
  .flex-row-b {
    position: relative;
    width: 1936px;
    height: 740px;
    margin: 82px 0 0 0;
    z-index: 22;
  }

  .product-about-us {
    position: absolute;
    width: 640px;
    height: 651px;
    top: 21px;
    left: 820px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.568px;
    text-align: left;
    z-index: 24;
  }
  .product {
    position: relative;
    color: #ffebde;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
  }
  .empty {
    position: relative;
    color: #ffebde;
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 57.6px;
    text-align: left;
  }
  .about-us-goals {
    position: relative;
    color: #ffebde;
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.568px;
    text-align: left;
  }

  .vector{
    position: relative;
    flex-shrink: 0;
    stroke-width: 3px;
    top: 2700px;
    left: 330px;
    stroke: #4545B1;
    background: url(/images/Vector\ 2.svg)
  }
  .point1{
    position: relative;
    top: 2200px;
    left: 1060px;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    fill: #4545B1;
    background: url(/images/точка3.svg);
  }
  .point2{
    position: relative;
    top: 2600px;
    left: 760px;
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    fill: #4545B1;
    background: url(/images/точка3.svg);
  }
  footer{
    position: absolute;
    margin-top: auto;
    top: 500px;
    background: #454597;
    width: 2100px;
    height: 800px;
    flex-shrink: 0;
  }
  
  .product{
    position: relative;
    display: flex;
    width: 640px;
    height: 651px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFEBDE;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: -300px;
    right: -700px;
  }
  
  .circle{
    position: relative;
    top: -750px;
    left: 1300px;
    width: 400px; /* Ширина круга */
    height: 400px; /* Высота круга */
    border-radius: 50%; /* Закругление углов для создания круга */
    background: #2C1768; /* Градиентный фон */
    filter: blur(50px);
  }
  .logo {
    position: absolute;
    width: 720px;
    height: 681px;
    left: 1145px;
    top: 100px;
    background: url(/images/logo.svg)
      no-repeat center;
    background-size: cover;
    flex-shrink: 0;
  }
  
  .school{
    color: rgba(255, 235, 222, 0.50);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 570px;
    height: 130px;
    flex-shrink: 0;
  }
  .twinklefooter{
    width: 710px;
    height: 200px;
    flex-shrink: 0;
    color: #FFEBDE;
    top: 1000px;
    font-family: Inter;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
   