body {
    background: radial-gradient(#E0C04C,#FEF1BC);
    background-size: cover;
    height: 1900px;
    width: 1920px;
    margin: 0;
    overflow: visible;
}
footer{
  background: #454597;
  width: 2100px;
  height: 800px;
  flex-shrink: 0;
}

.product{
  position: relative;
  display: flex;
  width: 640px;
  height: 651px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFEBDE;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: -300px;
  right: -700px;
}

.circle{
  position: relative;
  top: -750px;
  left: 1300px;
  width: 400px; /* Ширина круга */
  height: 400px; /* Высота круга */
  border-radius: 50%; /* Закругление углов для создания круга */
  background: #2C1768; /* Градиентный фон */
  filter: blur(50px);
}
.logo {
  position: absolute;
  width: 720px;
  height: 681px;
  left: 1145px;
  top: 18250px;
  background: url(/images/logo.svg)
    no-repeat center;
  background-size: cover;
  flex-shrink: 0;
}

.school{
  color: rgba(255, 235, 222, 0.50);
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 570px;
  height: 130px;
  flex-shrink: 0;
}
.twinklefooter{
  width: 710px;
  height: 200px;
  flex-shrink: 0;
  color: #FFEBDE;
  top: 1000px;
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inter-uniquifier{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.spectral-sc-regular {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-sc-bold {
  font-family: "Spectral SC", serif;
  font-weight: 700;
  font-style: normal;
}

.flex-row {
    position: relative;
    width: 2926px;
    height: 1988px;
    margin: 46px 0 0 -56px;
    z-index: 39;
  }
  .fashion-text {
    width: 2730px;
    height: 184px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 184px;
    top: -700px;
    left: 0;
    color: rgba(69, 69, 177, 0.78);
    font-family: "Spectral SC";
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 200px; /* 200% */
    letter-spacing: 10px;
  }

  .source-serif-4-uniquifier {
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .important-element {
    position: relative;
    width: 890px;
    height: 433px;
    margin: 792px 0 0 296px;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 1;
  }
  .color-type {
    position: relative;
    top: 300px;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
    text-align: left;
  }
  .important-element-1 {
    position: relative;
    top: 300px;
    color: rgba(69, 69, 177, 0.96);
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 84px;
    text-align: left;
  }
  .first-step {
    position: absolute;
    width: 1934px;
    height: 230px;
    top: 30px;
    left: 99px;
    font-family: Spectral SC;
    font-size: 80px;
    font-weight: 700;
    line-height: 77.04px;
    text-align: left;
    z-index: 39;
  }
 
  .star {
    position: absolute;
    width: 700px;
    height: 700px;
    left: 800px;
    top: 80px;;;
    background: url(/images/star.png);
    background-size: cover;
  }


  .seasonal-color-types {
    display: flex;
    top: -1000px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1439px;
    height: 197px;
    margin: 30px 0 0 284px;
    color: #000000;
    font-family:  Source Serif 4;
    font-size: 100px;
    font-weight: 700;
    line-height: 96.3px;
    text-align: left;
  }
  .flex-row-d {
    position: relative;
    width: 1730px;
    height: 81px;
    margin: 133px 0 0 107px;
    z-index: 15;
  }
  .spring {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 81px;
    top: -1000px;
    left: 1041px;
    color: #000000;
    font-family: Spectral SC;
    font-size: 70px;
    font-weight: 400;
    line-height: 80.527px;
    text-align: left;
    white-space: nowrap;
    z-index: 14;
  }
  .autumn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 81px;
    top: -1000px;
    left: 1479px;
    color: #000000;
    font-family: Spectral SC;
    font-size: 70px;
    font-weight: 400;
    line-height: 80.527px;
    text-align: left;
    white-space: nowrap;
    z-index: 15;
  }
  .regroup {
    position: absolute;
    width: 628px;
    height: 81px;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .summer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 59px;
    top: -1000px;
    left: 0;
    color: #000000;
    font-family: Spectral SC;
    font-size: 70px;
    font-weight: 400;
    line-height: 59px;
    text-align: left;
    white-space: nowrap;
    z-index: 9;
  }
  .winter {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 81px;
    top: -1000px;
    left: 416px;
    color: #020202;
    font-family:Spectral SC;
    font-size: 70px;
    font-weight: 400;
    line-height: 80.527px;
    text-align: left;
    white-space: nowrap;
    z-index: 10;
  }
  .flex-row-a {
    position: relative;
    width: 1788.462px;
    height: 400px;
    margin: 0 0 0 73px;
    z-index: 16;
  }
  .emily-blunt-summer {
    position: absolute;
    width: 266.182px;
    height: 400px;
    top: -900px;
    left: 0;
    background: url(/images/emily.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 7;
  }
  .anne-winter {
    position: absolute;
    width: 266.182px;
    height: 400px;
    top: -900px;
    left: 409px;
    background: url(/images/ann.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 11;
  }
  .regroup-5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 735.462px;
    height: 400px;
    top: 0;
    left: 1053px;
    z-index: 16;
  }
  .spring-emma {
    flex-shrink: 0;
    position: relative;
    top: -900px;
    width: 288.1px;
    height: 400px;
    background: url(/images/emma.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 13;
  }
  .autumn-jolie {
    flex-shrink: 0;
    top: -900px;
    position: relative;
    width: 298.462px;
    height: 400px;
    background: url(/images/jolie.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 16;
  }
  .flex-row-6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 1682px;
    height: 67px;
    margin: 51px 0 0 73px;
    z-index: 12;
  }
  .cool-tones {
    flex-shrink: 0;
    top: -800px;
    position: relative;
    height: 67px;
    color: #000000;
    font-family:  Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    white-space: nowrap;
    z-index: 8;
  }
  .warm-tones {
    flex-shrink: 0;
    top: -800px;
    position: relative;
    height: 67px;
    color: #000000;
    font-family:  Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    white-space: nowrap;
    z-index: 12;
  }
  .color-photoroom{
    position: absolute;
    right: 700px;
    top: 3000px;
    width: 753px;
    height: 670px;
    flex-shrink: 0;
    background: url(/images/crug.png)
  }
  .congratulations {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: -200px;
    width: 1730px;
    height: 232px;
    margin: 180px 0 0 95px;
    color: #000000;
    font-family:  Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 22;
  }
  .winter-7 {
    display: block;
    position: relative;
    height: 115px;
    margin: 621px 0 0 93px;
    color: #2109da;
    font-family: Spectral SC;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
  }
  .high-contrast {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1692px;
    height: 804px;
    margin: 82px 0 0 73px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 17;
  }
  .main-color-palette {
    display: block;
    position: relative;
    height: 67px;
    margin: 109px 0 0 495px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    white-space: nowrap;
    z-index: 18;
  }
  .empty {
    position: relative;
    width: 1312px;
    height: 1160px;
    margin: 18px 0 0 219px;
    background: url(/images/wintercolor.png)
      no-repeat center;
    background-size: cover;
    z-index: 23;
  }
  .main-colors-bright-cold {
    position: relative;
    width: 1668px;
    height: 370px;
    margin: 46px 0 0 104px;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 24;
  }
  .main-colors {
    position: relative;
    color: #4444b0;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
  }
  .bright-cold-shades {
    position: relative;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
  }
  .spring-8 {
    display: block;
    position: relative;
    height: 115px;
    margin: 112px 0 0 93px;
    color: #166b19;
    font-family: Spectral SC;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    text-align: left;
    white-space: nowrap;
    z-index: 25;
  }
  .delicate-color-type {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1597px;
    height: 522px;
    margin: 64px 0 0 73px;
    color: #000000;
    font-family:Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 27;
  }
  .main-color-palette-9 {
    display: block;
    position: relative;
    height: 67px;
    margin: 112px 0 0 495px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;
  }
  .spring-palette {
    position: relative;
    width: 1412px;
    height: 1260px;
    margin: 112px 0 0 219px;
    background: url(/images/springcolor.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 34;
  }
  .clothing-colors {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1584px;
    height: 369px;
    margin: 81px 0 0 73px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 28;
  }
  .summer-a {
    display: block;
    position: relative;
    height: 115px;
    margin: 234px 0 0 161px;
    color: #bc3c25;
    font-family: Spectral SC;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .cool-toned-summer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    left: -100px;
    position: relative;
    width: 1484px;
    height: 633px;
    margin: 143px 0 0 173px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 30;
  }
  .main-color-palette-b {
    display: block;
    position: relative;
    height: 67px;
    margin: 445px 0 0 485px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
  }
  .image {
    position: relative;
    width: 1260px;
    height: 1260px;
    margin: 56px 0 0 285px;
    background: url(/images/ocencolor.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 29;
  }
  .pastel-tones-summer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1493px;
    height: 645px;
    margin: 201px 0 0 173px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 31;
  }
  .autumn-c {
    display: block;
    position: relative;
    height: 115px;
    margin: 201px 0 0 161px;
    color: #ec7914;
    font-family: Spectral SC;
    font-size: 100px;
    font-weight: 400;
    line-height: 115px;
    text-align: left;
    white-space: nowrap;
    z-index: 32;
  }
  .autumn-description {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1493px;
    height: 603px;
    margin: 122px 0 0 173px;
    color: #000000;
    font-family:Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 33;
  }
  .main-color-palette-d {
    display: block;
    position: relative;
    height: 67px;
    margin: 198px 0 0 495px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67px;
    text-align: left;
    white-space: nowrap;
    z-index: 36;
  }
  .image-e {
    position: relative;
    width: 1151px;
    height: 1519px;
    margin: 70px 0 0 344px;
    background: url(/images/ocencolor.jpg)
      no-repeat center;
    background-size: cover;
    z-index: 35;
  }
  .suitable-shades-autumn {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1476px;
    height: 502px;
    margin: 156px 0 0 173px;
    color: #000000;
    font-family:Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 67.41px;
    text-align: left;
    z-index: 37;
  }
  .create-your-style {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 1305px;
    height: 320px;
    margin: 129px 0 0 289px;
    color: #000000;
    font-family: Source Serif 4;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    z-index: 38;
  }
  