body {
    background: linear-gradient(180deg, #F8EDC2 0%, #ad83f2 100%) no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

  .twinkle {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 400px;
    top: 330px;
    left: 320px;
    color: #7A7ACE;
    font-family: Prosto One;
    font-size: 270px;
    font-weight: 400;
    line-height: 337.5px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: 27px;
    z-index: 1;
    text-shadow: 0 4px 5px #001dff;
  }
  .logo {
    position: absolute;
    width: 500px;
    height: 400px;
    top: 25px;
    left: 700px;
    background: url(/images/logo.png)
      no-repeat center;
    background-size: cover;
  }

